body {
    margin-top: 20px;
    background-image: url("../images/taxi.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position:  right 20% bottom 100%;
    font-family: 'Cabin', sans-serif;
}
