body {
    margin-top: 20px;
    background-image: url("../images/taxi.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position:  right 30% bottom 130%;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
}
